<!DOCTYPE html>
<div class="containerCenter">
<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <br>
        <div class="btnCenter">
        <a href="/login" class="btn"> Login</a>
        <a href="/signup" class="btn"> Signup</a>
        </div>
    </div>
</main>
    
</div>
<%- include('partials/footer') -%>
