<div class="containerCenter">

<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
        <section>  
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div>
        </section>


          <div class="mb-3">
            <label for="learningDisability" class="form-label">Select a Learning Disability: </label>
            <select name="Learning Disability" id="learningDisability">
              <option value="ADHD">ADHD</option>
              <option value="dyscalculia">Dyscalculia</option>
              <option value="dysgraphia">Dysgraphia</option>
              <option value="dyslexia">Dyslexia</option>
            </select>
            
            <br>
            <br>

            <div id="infoBtn">
              <button type="submit" id="infoBtnClick" class="btn btn-primary info">Get Info</button>
              <a href="/logout" class="btn btn-primary logout">Logout</a>
            </div>

            <h2 id="disabilityName"></h2>
            <h4 id="ExplanationLabel"></h4>
            <p id="disabilityExplanation"></p>
            <h4 id="importantLabel"></h4>
            <p id="disabilityImportant"></p>
            <h4 id="troubleLabel"></h4>
            <ul id="disabilityTrouble">
            </ul>
            <h4 id="accommodationLabel"></h4>
            <ul id="accommodations"></ul>
            </div>
            
    </div>
  </div> 
</div>
</div>


<%- include('partials/footer') -%>



