/*--------------------
      Main Style
---------------------*/

body {
    background: #52ABC3;
    font-family:  'MuseoModerno', cursive;
}

.containerCenter {
    border: 2px solid #FFF0DF;
    width: 50%;
    margin: 2% 45% 2% 25%;
    padding: 1% 2%;
}

.container {
    width: 90%;
}

.form-control {
    background-color: #FFF0DF;
    
}

form {
    width: 200%;
    
}

.form-text {
    color:#FFF0DF;
}

input {
    border: none;
}

.moto {
    font-size: large;
    color: #FFF0DF;
}


/*--------------------
      Button Style
---------------------*/
.appName, .moto{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 0 #4b0082;
}
.appName a, a{
    color: #FFF0DF;
    text-decoration: none;
    border-radius: 3px;
    padding: .65% 7%;
}

.appName a:hover {
    color: #C7CB74;
}

.btn {
    background-color: #FFF0DF;
    border-color: #FFF0DF;
    color:#4b0082;
    border-style: solid;
    height: 6%;
    width: 11%;
    border-radius: 3px;
}

.info {
    width: 25%;
    height: 6.3%;
}
.btn:hover {
    background-color: #C7CB74;
    color:#52ABC3;
    border-color: #C7CB74;
}

.form-control:focus, .btn:focus {
    border: 2px solid #4b0082;
}

.btnCenter {
    margin: 1% 35%;
}
