/*--------------------
      Index.ejs
---------------------*/

body {
    background: #52ABC3;
    font-family:  'MuseoModerno', cursive;
}

.containerCenter {
    border: 2px solid #FFF0DF;
    width: 50%;
    margin: 2% 45% 2% 25%;
    padding: 1% 2%;
}
.appName a {
    color: #FFF0DF;
    text-decoration: none;
}

.appName a:hover {
    color: #C7CB74;
}

.btn {
    background-color: #FFF0DF;
    border-color: #FFF0DF;
    color:#C7CB74;
}
.btn:hover {
    background-color: #C7CB74;
    color: #FFF0DF;
    border-color: #C7CB74;
}


/*--------------------
      Index.ejs
---------------------*/